@charset "UTF-8";
.btn-primary {
  border-radius: 0;
  background: #ed7701;
  border: 0;
}

body {
  background: #f1f1f1;
}

.top {
  background-color: #088f33;
  color: #fff;
}
.top .social ul {
  list-style: none;
}
.top .social ul li {
  display: inline;
  padding: 5px 7px;
}
.top .social ul li a {
  text-decoration: none;
}
.top .social ul li a i {
  font-size: 14px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  padding: 6px 0;
  color: #088f33;
}
.top .contact {
  font-size: 14px;
}
.top .contact ul li {
  padding: 0px 3px;
}

.bg-light {
  padding: 0;
  background-color: #0b732b !important;
}

.logo {
  top: -50px;
  position: absolute;
  border: 3px solid #ed7701;
  z-index: 999;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 22px 20px;
}
.navbar-light .navbar-nav .nav-link:hover {
  background-color: #ed7701;
  color: #fff;
}

.carousel-caption {
  right: 9%;
  bottom: 11.25rem;
  left: 51%;
}

.title {
  text-transform: uppercase;
  color: #fff;
  background: #0b732b;
  padding: 8px 14px;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 15px;
}

.featuredPackage ul {
  padding-left: 20px;
  list-style: none;
}
.featuredPackage ul li::before {
  content: "→";
  color: #0b732b;
  padding-right: 10px;
  font-size: 22px;
  line-height: 30px;
}

.subtitle {
  color: #0b732b;
  font-size: 24px;
}

.specialities .container {
  padding: 20px 0 30px 0;
  border-top: 1px solid #e7e5e5;
}
.specialities__box {
  box-shadow: 0 0 4px grey;
  position: relative;
  overflow: hidden;
}
.specialities__box:hover img {
  transform: scale(1.3);
}
.specialities__box:hover p {
  background: #0b732b;
}
.specialities__box img {
  transition: 0.8s;
}
.specialities__box p {
  position: absolute;
  background: #ed7701;
  color: #fff;
  bottom: 20px;
  left: 0px;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.trips {
  margin-bottom: 20px;
}
.trips .nav {
  margin-top: 20px;
  justify-content: center;
}
.trips .nav-link {
  display: inline-block;
  padding: 6px 85px;
  border: none;
  font-size: 15px;
  border-radius: 0px;
  color: #fff;
  background: #0b732b;
  text-decoration: none;
}
.trips .nav-link:first-child,
.trips .nav-link :nth-child(2) {
  border-right: 1px solid grey;
}
.trips .nav-pills .nav-link.active,
.trips .nav-pills .show > .nav-link,
.trips .nav-link:hover {
  color: #fff;
  background-color: #ed7701;
}
.trips__box {
  margin-top: 20px;
  position: relative;
  box-shadow: 0 0 4px grey;
}
.trips__box:hover img {
  filter: brightness(1.1);
}
.trips__box .trips__description {
  position: absolute;
  line-height: 45px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: rgba(11, 115, 43, 0.7);
  padding-left: 10px;
}
.trips__box .trips__description .days {
  background: #ed7701;
  padding: 0 10px;
}

.testimonials {
  margin: 60px;
}
.testimonials__slider {
  height: 250px;
  background: url(https://www.plannepal.com/assets/img/testimonials/clients.jpg);
  color: #fff;
}
.testimonials p {
  margin: 30px;
}
.testimonials h5 {
  text-align: center;
}
.testimonials .carousel-indicators {
  top: 210px;
}
.testimonials .accordion-button {
  background: #0b732b;
  color: #fff;
  padding: 9px 25px;
  margin-bottom: 2px;
}

footer {
  color: #fff;
}
footer .footer__top {
  background: #333333;
  padding: 25px 0;
}
footer .footer__top .row {
  justify-content: space-between;
}
footer .footer__top h3 {
  font-size: 20px;
}
footer .footer__top ul {
  list-style: none;
}
footer .footer__top ul li {
  line-height: 30px;
}
footer .footer__top ol,
footer .footer__top ul {
  padding-left: 0rem;
}
footer .footer__bottom {
  background: #0b732b;
}
footer .footer__bottom p {
  margin-top: 0;
  margin-bottom: 0px;
}

.navSticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-animation: f 1s;
          animation: f 1s;
}
.navSticky .logo {
  height: 120px;
}

@-webkit-keyframes f {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}

@keyframes f {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}
.arrow {
  display: block !important;
}

.slideUp {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 21px;
}
.slideUp a {
  font-size: 20px;
  padding: 7px;
  background: #ed7701;
  color: #fff;
}/*# sourceMappingURL=style.css.map */